#nav-bar{
  position: fixed;
  top: 0px;
  height: 80px;
  width: 100%;
  background-color: #00a087;
  padding-left: 2em;
  padding-right: 2em;
  text-align: center;
  line-height: 80px;
  z-index: 2;

}

#nav-bar .logo {
  width: 80px;
  height: 80px;
  padding-right: 10px;
  float: left;
}

#nav-bar .header{
  font-size: 2em;
  float: left;

}

#nav-bar button {
  float: right;
  width: 80px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  margin: 20px;
  color: #00a087;
}

#nav-bar button:hover{
  color: black;
}

@media (max-width: 641px){
  #nav-bar{
    width: 100vw;
    padding-left: 0px;
    padding-right: 0px;
    overflow: auto;
  }
}

@media (max-width: 320px){
  #nav-bar button {
    margin-right: 2vw;
  }

  #nav-bar .logo{
    margin-right: 2vw;
  }

  #nav-bar .header{
    display:none;
  }

}

@media (max-width: 190px){
  #nav-bar .logo{
    display: none;
  }
}