
.hidden{
  /* https://stackoverflow.com/questions/10960753/how-to-make-toggle-hidden-by-default */
  display:none;
}

section {
  overflow: auto;
}

section h2{
  border-bottom: 2px solid #000000;
  padding-left: 32px;
  margin: 5px;
}

 textarea{
  box-sizing: border-box;
  width: 88%;
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 1em;
  padding-left: 1em;
 }

 textarea:focus {
  border: 2px solid green;

 }

 section form input{
  float: left;
  margin-left: 2em;
 }

#errorMessage{
  color : red;
  border: 2px solid red;
  width: 300px;
  margin-left: 96px;
}

 form output{
  float: right;
  margin-right: 2em;
 }

 .overflow {
  background-color: red;
 }